<!-- TODO: see home.hbs for instructions !-->
<div class="screen_block"></div>
<div class="modal" id="login_modal">
    <h2> Login is required before using this website's features. You may login 
    <a href="/login">here.</a></h2>
</div>