<!-- TODO: see home.hbs for instructions !-->
<div class="screen_block"></div>
<div class="modal" id="login_modal">
    <p style="font-weight: 900;"> peepoSad </p>
    <img src="/images/sad peepo.png" id="sadpeepo">
    <p> Oh no! You must be a user to post a meme. 
    <p> You may create an account <a href="/register">here.</a> </p>
    <p> Already have an account? Login <a href="/login">here.</a> </p>
</div>