<!-- TODO: SHOW DIFFERENT NAV_BAR CONTENTS WHEN LOGGED IN AND NOT LOGGED IN! -->
<header>
    <div class="nav_bar">
        <div class="logo">
            <a href="/"><img src="/images/sampleLogo.png"/></a>
        </div>
        <div class="nav_btns">
            <a href="/register">SIGN UP</a>
            <a href="/login">LOG IN</a>
        </div>
    </div>
</header>

<!--

<header>
    <div class="nav_bar">
        <div class="logo">
            <a href="/home"><img src="/images/sampleLogo.png"/></a>
        </div>
        <div class="nav_btns">
            <a href="/profile">PROFILE</a>
            <a href="/settings">SETTINGS</a>
            <a href="/home">LOG OUT</a>
        </div>
    </div>
</header>

-->