<header>
    <div class="nav_bar">
        <div class="logo">
            <a href="/"><img src="/images/sampleLogo.png"/></a>
        </div>
        <div class="nav_btns">
            {{#unless user}}
                <a href="/register">SIGN UP</a>
                <a href="/login">LOG IN</a>
            {{else}}
                <a href="/profile">PROFILE</a>
                <a href="/settings">SETTINGS</a>
                <a href="/logout">LOG OUT</a>
            {{/unless}}
        </div>
    </div>
</header>
