<!-- TODO: FIX PROFILE PICTURE AND USERNAME !-->

<div class="second-tier">
    <div class="reply-card">
        <img class="comment-icon" src="/images/comment3.jpg">
        <span class="user-handle"> {{username}} </span>
    </div>

    <div class="reply-desc">
        <span> {{reply_content}} </span>
    </div>

    <div class="comment-action">
        <span class="upvote"><i class="fa-solid fa-chevron-up fa-lg"></i></span>
        <span class="likes"> {{reply_likes}} </span>
        <span class="downvote"><i class="fa-solid fa-chevron-down fa-lg"></i></span>
        <span class="comment"><i class="fa-solid fa-comments fa-lg"></i></span>
    </div> 
</div>