<link rel="stylesheet" type="text/css" href="/css/about.css"/>

{{> nav}}

<div class="container">

    <div class="box">
        <form id="about_form" action="/about" method="GET">
        
            <div class="npm_div">
                <span class="packages_span">NPM Packages and Third Party Libraries</span>

                <br/>
                <br/>
                <br/>

                <div class="title">Dependencies</div>
                <ul>
                    <li>bcrypt</li>
                    <li>connect-flash</li>
                    <li>express</li>
                    <li>express-handlebars</li>
                    <li>express-session</li>
                    <li>mongoose</li>
                    <li>multer</li>
                    <li>passport</li>
                    <li>passport-local</li>
                </ul>

                <div class="title">devDependencies</div>
                <ul>
                    <li>nodemon</li>
                </ul>

                <div class="title">Third Party Libraries</div>
                <ul>
                    <li>none</li>
                </ul>

            </div>

        </form>
    </div>
    

</div>