<link rel ="stylesheet" type="text/css" href="/css/addpost.css">
<script defer src="/js/addpost.js"></script>

{{> nav}}

<br><br>

<div class="container">
    <div class="box">
        <div class="header_div">
            <h1> ADD NEW POST </h1>
        </div>

        <form id="post-form" method="POST" enctype="multipart/form-data">
            <img id="preview">

            <div class="input_section">
                <input type="file" name="content" id="content" accept="image/png, image/jpg, image/jpeg, image/gif" required>
                <label for="caption"> Post Caption </label>
                <textarea maxlength="300" id="caption" name="caption"></textarea>
            </div>

            <div class="button_section">
                <button type="submit" id="submitpost"> ADD POST </button>
            </div>
        </form>
    </div>
</div>