<link rel="stylesheet" type="text/css" href="/css/login-reg.css"/>
<script defer src="/js/login.js"></script>

{{> nav}}

<div class="container">
    <div class="box" id="login-box">
        <div class="header_div">
            <h1> LOGIN </h1> 
        </div>

        <div id="msgs">
            {{> message}}
        </div>
        

        <form id="login_form" action="/login" method="POST">
            <div class="form_div">
                <div class="row" id="user_div">
                    <label for="user"> Username </label> <br>
                    <input type="text" name="username" id="username"/>
                    <small id="userError"></small>
                </div>

                <div class="row" id="login_pword_div">
                    <label for="pword">Password</label> <br>
                    <input type="password" name="password" id="password"/>
                    <small id="login_pwordError"></small>
                </div>

                <div class="row" id="button_div">
                    <button type="submit" id="login"><b> SIGN IN </b></button>
                    <p> Don't have an account? <a href="/register"> Sign up here. </a></p>
                </div>
            </div>
        </form>
    </div>
</div>
