<link rel="stylesheet" type="text/css" href="/css/profile.css"/>
<link rel="stylesheet" type="text/css" href="/css/posts.css"/>
<script defer src="/js/posts.js"></script>
<script src="https://kit.fontawesome.com/e8f282ef28.js" crossorigin="anonymous"></script>

{{> nav}}

{{#with userinfo}}
    {{> info}}
{{/with}}

<div id="posts">
    {{#if posts}}
        {{#each posts}}
            {{> post}}
        {{/each}}
    {{else}}
        <img src="/images/sad peepo.png" style="position: relative; left: 50%; transform:translateX(-50%);"/>
        <h1 style="text-align: center"> no memes found &#58;&#40; </h1>
    {{/if}}
</div>
