<link rel="stylesheet" type="text/css" href="/css/login-reg.css"/>
<script defer src="/js/register.js"></script>

<div class="container">
    <div class="box">
        <div class="header_div">
            <h1> REGISTRATION </h1> 
        </div>

        <form id="reg_form">
            <div class="form_div">
                <div class="row" id="user_div">
                    <label for="user"> Username </label> <br>
                    <input type="text" name="user" id="user"/>
                    <small id="userError"></small>
                </div>

                <div class="row" id="email_div">
                    <label for="email"> Email </label> <br>
                    <input type="email" name="email" id="email"/>
                    <small id="emailError"></small>
                </div>

                <div class="row" id="pword_div">
                    <label for="pword"> Password </label> <br>
                    <input type="password" name="pword" id="pword"/>
                    <small id="pwordError"></small>
                </div>

                <div class="row" id="cpword_div">
                    <label for="cpword"> Confirm Password </label> <br>
                    <input type="password" name="cpword" id="cpword"/>
                    <small id="cpwordError"></small> 
                </div>

                <div class="row" id="button_div">
                    <button type="submit" id="register"> <b> SIGN UP </b> </button>
                    <p> Already have an account? <a href="/login"> Sign in here. </a> </p>
                </div>

            </div>
        </form>
    </div>
</div>