<link rel="stylesheet" type="text/css" href="/css/settings.css"/>
<script defer src="/js/settings.js"></script>

{{> nav}}

<div class="container">
    <div id="msgs">
        {{> message}}
    </div>
    <div class="box" id="peepo_account">
        <div class="col-1">
            <h2> Sign-In Details </h2>
            <span> Your username and password are used to access your account. </span>
        </div>

        <div class="col-2">
            <!-- TODO: DISABLE SUBMIT BUTTON IF USERNAME/PASSWORD EITHER LESS THAN 3 CHARS OR DID NOT CHANGE! -->
            <!-- IF USERNAME HAS NO INPUT, DONT MAKE ANY CHANGES TO USERNAME! SAME WITH PASSWORD -->
            <form id="signindetails-form" method="POST" action="/settings">
                <div class="input_section">
                    <p> Change Username </p>
                    <label for="username"> Username </label>
                    <input type="text" id="username" name="username"/>

                    <p> Change Password </p>
                    <label for="pword"> Current Password </label>
                    <input type="password" id="password" name="password"/>

                    <label for="newpword"> New Password </label>
                    <input type="password" id="newpword" name="newpword"/>

                    <label for="cnewpword"> Confirm New Password </label>
                    <input type="password" id="cnewpword" name="cnewpword"/>
                </div>
                
                <div class="button_section">
                    <button type="submit" id="save_signindetails"> SAVE CHANGES </button>
                </div>
            </form>
        </div>
    </div>

    <div class="box" id="information">
        <div class="col-1">
            <h2> Information </h2>
            <span> Your profile's 'About' section is displayed on your profile, and your email
                    will allow us to contact you if needed. </span> 
        </div>

        <div class="col-2">
            <form id="information-form">
                <div class="input_section">
                    <label for="email"> Email Address </label>
                    <input type="email" id="email" name="email"/>

                    <label for="about"> About </label>
                    <textarea maxlength="300" id="about"></textarea>
                </div>

                <div class="button_section">
                    <button type="submit" id="save_information"> SAVE CHANGES </button>
                </div>
            </form>
        </div>
    </div>

    <div class="box" id="profile_picture">
        <div class="col-1">
            <h2> Display Photo </h2>
            <span> Your display photo is used as the avatar shown on 
                    your profile, posts, and comments. </span>
        </div>

        <div class="col-2">
            <form id="dp_form" action="/settings" method="POST" enctype="multipart/form-data">
                <div class="display_info">
                    <img id="displayphoto">
                </div>
                
                <div class="input_section">
                    <input id="dp_upload" type="file" name="profilephoto" accept="image/png, image/jpg, image/jpeg, image/gif"/>
                </div>

                <div class="button_section">
                    <button type="submit" id="save_displayphoto"> SAVE CHANGES </button>
                </div>
            </form>
        </div>
    </div>
</div>
