@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	color: #262626;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 576px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
}

div.npm_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

span.packages_span {
    font-weight: bold;
}
