@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	color: #262626;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

div.container{
	width: 600px;
	height: auto;
	background-color:#fafafa;
	border: 1px solid #E8EAED;
	font-size: 14px;
	margin:auto;
	margin-bottom: 1rem;
	margin-top: 1rem;
    justify-content: center;
}

div.npm_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

span.packages_span {
    font-weight: bold;
}
