@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

body {
	color: #262626;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

div.feed{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

div.post-container{
	width: 600px;
	height: auto;
	background-color:#fafafa;
	border: 1px solid #E8EAED;
	font-size: 14px;
	margin:auto;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

div.profile-box{
	width: 800px;
	height: 100px;
	background-color:#fafafa;
	border: 1px solid #E8EAED;
	font-size: 14px;
	box-sizing: border-box;
}

div.post-header {
	height: 35px;
	padding: 16px;
	display: flex;
	flex-direction: row;
}

div.post-footer {
	padding: 0 16px;
}

div.description-card{
	padding: 0 16px 10px;
	border-bottom: 0.5px solid #EFEFEF;
}

div.actions {
	margin-top: 4px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

div.comment-card{
	border-top: 0.5px solid #EFEFEF;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 5px 0px;
}

div.reply-card {
	border-top: 0.5px solid #EFEFEF;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 40px 0px;
}

div.reply2-card {
	border-top: 0.5px solid #EFEFEF;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 80px 0px;
}

div.comment-action {
	gap: 0.5rem;
	margin-right: 15px;
	margin-bottom: 5px;
	display: flex;
	justify-content: right;
	align-items: center;
}

div.comment-desc {
	padding-left: 45px;
	display: flex;
}

div.reply-desc {
	padding-left: 80px;
	display: flex;
}

div.reply2-desc {
	padding-left: 120px;
	display: flex;
}

div.comment-container {
	padding-left: 16px;
	padding-right: 16px;
}

span.likes{
	font-weight: bold;

}

span.comment-likes{
	font-weight: bold;
}

#add-comment {
	width: 100%;
	height: 30px;
	padding: 5px 5px 0px 5px;
	border: none;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 2px solid #aaa;
	box-sizing: border-box;
	margin-bottom: 10px;
	outline: none;
	resize: none;
}

.btn {
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

div.dropdown {
	display: inline-block;
}

div.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #fafafa;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-menu a{
	color: black;
	padding: 5px 16px 5px;
	display: block;
	text-decoration: none;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.comment-action i:hover, .actions i:hover {
	cursor: pointer;
	opacity: 60%;
}


.dropdown-menu a:hover {
	background-color: #ddd;
}

.user-icon {
	width: 42px;
	height: 42px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	vertical-align: baseline;
	border: 1px solid #EFEFEF;
}

.username {
	font-size: inherit;
	font-weight: 700;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

.button {
	border: 0;
	color: #3897f0;
	font-weight: 700;
	text-align: center;
	margin-top: 5px;
}

.comment-icon{
	width: 32px;
	height: 32px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	vertical-align: baseline;
	border: 1px solid #EFEFEF;
}

img.post-body {
	width: 100%;
}

.user-handle {
	color: #262626;
	font-weight: 600;
	padding-left: 5px;
	margin-left: -5px;
}

.link {
	color: #003469;
}

.user-info {
	margin-top: 0.7rem;
	margin-left: 0.3rem;
}

.user-info a {
	text-decoration: none;
	color: black;
}

.user-info a:active {
	text-decoration: none;
	color: black;
}

.user-handle {
	text-decoration: none;
}

.user-handle:active {
	text-decoration: none;
	color: black;
}

#deletepost {
	display: inline-block;
	margin-left: 27rem;
   	border-radius: 5px;
	border-style: none;
	background-color: rgba(156, 165, 244, 0.46);
   	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
}

#deletepost:hover {
	border-color: rgb(56, 195, 255);
    	background-color: rgba(255, 0, 34, 0.644);
    	transition: 0.2s all;
}
