@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	color: #262626;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

div.feed{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

div.post-container{
	width: 600px;
	height: auto;
	background-color:#fafafa;
	border: 1px solid #E8EAED;
	font-size: 14px;
	margin:auto;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

div.profile-box{
	width: 800px;
	height: 100px;
	background-color:#fafafa;
	border: 1px solid #E8EAED;
	font-size: 14px;
	box-sizing: border-box;
}

div.post-header {
	height: 35px;
	padding: 16px;
	display: flex;
	flex-direction: row;
}

div.post-footer {
	padding: 0 16px;
}

div.description-card{
	padding: 0 16px 10px;
	border-bottom: 0.5px solid #EFEFEF;
}

div.actions {
	margin-top: 4px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

div.comment-card{
	border-top: 0.5px solid #EFEFEF;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 5px;
}

div.comment-action {
	gap: 0.5rem;
	padding: 5px 0px 5px 45px;
	margin: 10px;
	display: flex;
	justify-content: right;
	align-items: center;
}

div.comment-desc {
	padding-left: 45px;
	display: flex;
}

span.likes{
	font-weight: bold;

}

span.comment-likes{
	font-weight: bold;
}

#add-comment {
	width: 100%;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	resize: vertical;
}

.user-icon {
	width: 42px;
	height: 42px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	vertical-align: baseline;
	border: 1px solid #EFEFEF;
}

.username {
	font-size: inherit;
	font-weight: 700;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

.button {
	border: 0;
	color: #3897f0;
	font-weight: 700;
	text-align: center;
}

.comment-icon{
	width: 32px;
	height: 32px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	vertical-align: baseline;
	border: 1px solid #EFEFEF;
}

img.post-body {
	width: 100%;
}

.user-handle {
	color: #262626;
	font-weight: 600;
	padding-left: 5px;
	margin-left: -5px;
}

.link {
	color: #003469;
}