.profile_information{
    border-bottom: solid black;
    width: 80%;
    height: 250px;
    margin:auto;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    font-family: 'Varela Round', sans-serif;
}

.col_left{
    width:20%;
}

#displayphoto{
    height: 250px;
    width: 250px;
}

.col_right{
    width:80%;
}

.interactables{
    display:flex;
    justify-content: flex-start;
}

.info_username{
    margin: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.info_username>p{
    font-size: 30px;
}

.statistics{
    display:flex;
    justify-content: flex-start;
}

#editprofile{
    width: 100px;
    height: 50px;
    margin: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    border: 1px solid black;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

#editprofile:visited{
    color:black;
    text-decoration: none;
}
#editprofile:hover{
    background-color: rgba(19, 10, 10, 0.199);
}

.statistics>p{
    margin-top:auto;
    margin-bottom:auto;
    margin: 20px;
}

.biography{
    margin-top:auto;
    margin-bottom:auto;
    margin: 20px;
}
