@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

body {
    background-color: rgba(250, 206, 167, 0.21);
}

.container {
    box-sizing: border-box;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box {
    margin-top: 3rem;
    width: 800px;
    height: fit-content;
    display: flex;
}

.col-1 {
    background-color: rgba(156, 165, 244, 0.46);
    box-sizing: border-box;
    width: 70%;
    height: 350px;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.col-1 h2 {
    font-size: 2rem;
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-shadow: -1px 1px 0 black, 
                 0 0 1px black;
}

.col-1 span {
    font-size: .9rem;
    font-family:'Poppins', sans-serif;
    color: black;
}

.col-2 {
    display: block;
    height: 350px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgba(118, 126, 190, 0.801);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input_section {
    font-family:  'Poppins', sans-serif;
    height: fit-content;
    padding-top: 2rem;
}

.input_section p {
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 1.1rem;
    margin: .3rem auto;
}

.input_section input, #about {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    margin-bottom: 0.6rem;
    border-style: solid .5px;
    outline: 0;
}

.input_section label {
    position: absolute;
    display: block;
    margin-left: .3rem;
    font-size: .8rem;
}

.button_section {
    padding-top: 1rem;
}


.button_section button {
    float: right;
    width: 156px;
    height: 36px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

.button_section button:hover {
    border-color: rgba(121, 215, 255, 0.644);
    background-color: rgba(121, 215, 255, 0.644);
    transition: 0.2s all;
}

#information > div {
    height: 440px;
}

#peepo_account > div {
    height: 550px;
}

#profile_picture > div {
    height: 400px;
}

#profile_picture {
    padding-bottom: 5rem;
}

#username-button {
    margin-bottom: 4rem;
}

#save-password {
    margin-top: .5rem;
}


#about {
    height: 210px;
    resize: none;
    padding-top: 1rem;
}

#displayphoto {
    height: 150px;
    width: 150px;
    border: black;
}

.display_info {
    padding-top: 2rem;
}

#dp_upload {
    height: fit-content;
    margin-bottom: 2rem;
}

#success {
    font-family: 'Poppins', sans-serif;
    color: rgba(27, 167, 14, 0.993);
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#fail {
    font-family: 'Poppins', sans-serif;
    color: rgb(233, 0, 0);
    margin-top: 0;
    margin-bottom: 1.5rem;
}
