@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

body {
    background-color: rgba(250, 206, 167, 0.21);
    height: 900px;
}

.container {
    box-sizing: border-box;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box {
    margin-top: 20px;
    width: 800px;
    height: 253px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box h2 {
    font-size: 36px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-shadow: -1px 1px 0 black, 
                 0 0 1px black;
}

.col-1 {
    background-color: rgba(156, 165, 244, 0.46);
    box-sizing: border-box;
    height: inherit;
    padding: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.col-1 span {
    font-size: 16px;
    font-family:'Poppins', sans-serif;
}

.col-2 {
    background-color: rgba(118, 126, 190, 0.801);
    box-sizing: border-box;
    height: inherit;
    padding: 20px;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family:  'Poppins', sans-serif;
}

.input_section {
    padding-top: 65px;
}

.input_section input {
    height: 54px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-style: solid .5px;
    outline: 0;
}

.input_section label {
    position: absolute;
    margin-left: 4px;
    font-size: 12px;
}

.button_section {
    padding-top: 30px;
}

.button_section button {
    width: 156px;
    height: 36px;
    float: right;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

.button_section button:hover {
    border-color: rgba(121, 215, 255, 0.644);
    background-color: rgba(121, 215, 255, 0.644);
    transition: 0.2s all;
}
